<div class="container">
  <button
    class="container__up-vote"
    [disabled]="disabled"
    (click)="onUpVote()"
  >
    <p class="container__up-vote__count">{{ upVotes }}</p>
    <mat-icon>thumb_up</mat-icon>
  </button>
  <button
    class="container__down-vote"
    [disabled]="disabled"
    (click)="onDownVote()"
  >
    <p class="container__down-vote__count">{{ downVotes }}</p>
    <mat-icon>thumb_down</mat-icon>
  </button>
</div>
