@mixin button-style-reset {
  background-color: transparent;
  border-color: transparent;
  color: initial;
}

.container {
  display: flex;
  gap: 0.75rem;

  &__up-vote, &__down-vote {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    @include button-style-reset;

    &:hover {
      cursor: pointer;
      color: var(--blue);
    }

    &:disabled {
      @include button-style-reset;
    }

    &__count {
      margin: 0;
    }
  }
}
