.header {
  padding: 1rem 0;
  background-color: var(--primary);

  &__title {
    margin: var(--header__title-margin);
    font-size: var(--header__title-font-size);
    color: var(--white);
    text-align: var(--header__title-text-align);
  }
}
