:root {
  --primary: #50ce8a;
  --secondary: #120a3e;

  --blue: #005E97;
  --brown-light: #f7e7db;
  --gray-dark: #343a40;
  --green: #d0e396;
  --magenta: #AB3A59;
  --orange: #FAB152;
  --white: #fff;
  --yellow: #ffc107;
}
