:root {
  @media screen and (max-width: 768px) {
    // App Component
    --main-width: 90%;

    // Header
    --header__title-font-size: 2rem;
    --header__title-margin: 0 5%;
    --header__title-text-align: center;

    // Health Tips Overview Group (htog)
    --htog__title-font-size: 1.5rem;
    --htog__grid-column-repeat: 1;

    // Health Tips Details (htd)
    --htd__grid-template-columns: 1fr;
  }

  @media screen and (min-width: 768px) and (max-width: 1440px) {
    // App Component
    --main-width: 80%;

    // Header
    --header__title-font-size: 2.5rem;
    --header__title-margin: 0 10%;
    --header__title-text-align: initial;

    // Health Tips Overview Group (htog)
    --htog__title-font-size: 2rem;
    --htog__grid-column-repeat: 2;

    // Health Tips Details (htd)
    --htd__grid-template-columns: min-content 1fr;
  }

  @media screen and (min-width: 1440px) {
    // App Component
    --main-width: 70%;

    // Header
    --header__title-font-size: 2.5rem;
    --header__title-margin: 0 15%;
    --header__title-text-align: initial;

    // Health Tips Overview Group (htog)
    --htog__title-font-size: 2rem;
    --htog__grid-column-repeat: 3;

    // Health Tips Details (htd)
    --htd__grid-template-columns: min-content 1fr;
  }
}
