<section class="message">
  <h2 class="message__title">Page not found!</h2>
  <a class="message__link" routerLink="/">
    <mat-icon>arrow_back</mat-icon>
    <p>Return to main page</p>
  </a>
</section>
