<a class="navigate-back" routerLink="/health-tips">
  <mat-icon>arrow_back</mat-icon>
  <p class="navigate-back__text">Back to overview list</p>
</a>
<ng-container *ngIf="healthTip; else error">
  <h2 class="title">{{ healthTip.title }}</h2>
  <p class="datetime">{{ healthTip.datetime | date: 'yyyy/MM/dd hh:mm a' }}</p>
  <p class="text">{{ healthTip.text }}</p>
  <app-health-tip-voting
    [upVotes]="healthTip.upVotes"
    [downVotes]="healthTip.downVotes"
    (upVote)="onUpVote()"
    (downVote)="onDownVote()"
  ></app-health-tip-voting>
</ng-container>
<ng-template #error>
  <app-error-message></app-error-message>
</ng-template>
