.navigate-back {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin: 2rem 0;
  color: var(--gray-dark);
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  &__text {
    margin: 0;
  }
}

.title {
  margin-bottom: 0;
}

.datetime {
  margin-top: 0.5rem;
  font-style: italic;
}

.text {
  margin: 2rem 0;
}
