<ng-container *ngIf="loading$ | async; else overviewList">
  <div class="spinner" *ngIf="loading$ | async">
    <mat-spinner></mat-spinner>
    <p>Loading Health Tips List</p>
  </div>
</ng-container>

<ng-template #overviewList>
  <ng-container *ngIf="healthTipsOverviewList$ | async as list">

    <ng-container *ngIf="failed$ | async; else success">
      <div class="error-message">
        <app-error-message></app-error-message>
      </div>
    </ng-container>

    <ng-template #success>
      <app-health-tip-overview-group
        [groupTitle]="'Today'"
        [tips]="list.today"
      ></app-health-tip-overview-group>
      <app-health-tip-overview-group
        [groupTitle]="'This Week'"
        [tips]="list.thisWeek"
      ></app-health-tip-overview-group>
      <app-health-tip-overview-group
        [groupTitle]="'Earlier'"
        [tips]="list.earlier"
      ></app-health-tip-overview-group>
    </ng-template>

  </ng-container>
</ng-template>
