$color-map: (
  DoctorHealthTip: var(--blue),
  PsychoHealthTip: var(--magenta),
  FamilyHealthTip: var(--brown-light),
  FitnessHealthTip: var(--orange),
  InsuranceHealthTip: var(--green)
);

@each $name, $color in $color-map {
  .#{$name} {
    border: 0.25rem solid $color;
  }
}

.title {
  font-size: var(--htog__title-font-size);
}

.group {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(var(--htog__grid-column-repeat), 1fr);

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.75rem;
    border-radius: 0.75rem;
    color: var(--gray-dark);
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }

    &__title {
      margin: 0;
    }
  }
}
