<h2 class="title">{{ groupTitle }}</h2>
<div class="group" *ngIf="tips.length; else emptyList">
  <a
    class="group__item"
    routerLink="/health-tips/{{tip.id}}"
    *ngFor="let tip of tips"
    [ngClass]="tip.type"
  >
    <p class="group__item__title">{{ tip.title }}</p>
    <app-health-tip-voting
      [disabled]="true"
      [upVotes]="tip.upVotes"
      [downVotes]="tip.downVotes"
    ></app-health-tip-voting>
  </a>
</div>
<ng-template #emptyList>
  <p>No tips</p>
</ng-template>
