@import '~normalize.css';
@import 'styles/colors';
@import 'styles/responsive';

html {
  font-size: 16px;
  color: var(--gray-dark);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}
